<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
    </title>
    <meta name="description" content="">
    <meta name="author" content="Jie Fang">
    <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/javascripts/baby.js"></script>

</head>

<body>