<% include header.html %>


    <!--
    <div class="ui bottom attached segment pushable">
        <div class="ui visible inverted left vertical sidebar menu">
            <a class="item">
                <i class="home icon"></i> Home
            </a>
            <a class="item">
                <i class="block layout icon"></i> Topics
            </a>
            <a class="item">
                <i class="smile icon"></i> Friends
            </a>
            <a class="item">
                <i class="calendar icon"></i> History
            </a>
        </div>
        <div class="pusher">
            <div class="ui basic segment">
                <h3 class="ui header">Application Content</h3>
                <p>1</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
-->
    <!--
<div class="ui card">
    <div class="image">
        <img src="/images/avatar/large/stevie.jpg">
    </div>
    <div class="content">
        <a class="header">Stevie Feliciano</a>
        <div class="meta">
            <span class="date">Joined in 2014</span>
        </div>
        <div class="description">
            Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i> 22 Friends
        </a>
    </div>
</div>
<div class="ui cards">
    <div class="card">
        <a class="image">
            <img src="/images/avatar/large/elliot.jpg">
        </a>
        <div class="content">
            <a class="header">Elliot Fu</a>
            <div class="meta">
                <a>Friends</a>
            </div>
            <div class="description">
                Elliot Fu is a film-maker from New York.
            </div>
        </div>
    </div>
    <div class="card">
        <a class="image">
            <img src="/images/avatar/large/helen.jpg">
        </a>
        <div class="content">
            <a class="header">Helen Troy</a>
            <div class="meta">
                <a>Friends</a>
            </div>
            <div class="description">
                Helen Troy is an archivist living in New York, who enjoys cooking, fine art, and gardening.
            </div>
        </div>
    </div>
    <div class="card">
        <a class="image">
            <img src="/images/avatar/large/jenny.jpg">
        </a>
        <div class="content">
            <a class="header">Jenny Hess</a>
            <div class="meta">
                <a>Friends</a>
            </div>
            <div class="description">
                Jenny is a student studying Media Management at the New School.
            </div>
        </div>
    </div>
</div>
<div class="ui link cards">
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="meta">
                <a>Friends</a>
            </div>
            <div class="description">
                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
        Joined in 2013
      </span>
            <span>
        <i class="user icon"></i>
        75 Friends
      </span>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="content">
            <div class="header">Stevie Feliciano</div>
            <div class="meta">
                <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
                Stevie Feliciano is a library scientist living in New York City.
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
        Joined in 2011
      </span>
            <span>
        <i class="user icon"></i>
        35 Friends
      </span>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/steve.jpg">
        </div>
        <div class="content">
            <div class="header">Steve Jobes</div>
            <div class="meta">
                <a>Acquaintances</a>
            </div>
            <div class="description">
                Steve Jobes is a fictional character designed to resemble someone familiar to readers.
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
        Joined in 2014
      </span>
            <span>
        <i class="user icon"></i>
        151 Friends
      </span>
        </div>
    </div>
</div>
<div class="ui card">
    <div class="ui slide masked reveal image">
        <img src="/images/avatar/large/jenny.jpg" class="visible content">
        <img src="/images/avatar/large/elliot.jpg" class="hidden content">
    </div>
    <div class="content">
        <a class="header">Team Fu &amp; Hess</a>
        <div class="meta">
            <span class="date">Create in Sep 2014</span>
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="users icon"></i> 2 Members
        </a>
    </div>
</div>
<div class="ui special cards">
    <div class="card">
        <div class="dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="content">
            <a class="header">Team Fu</a>
            <div class="meta">
                <span class="date">Create in Sep 2014</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i> 2 Members
            </a>
        </div>
    </div>
    <div class="card">
        <div class="dimmable image">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui primary button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img src="/images/avatar/large/jenny.jpg">
        </div>
        <div class="content">
            <a class="header">Team Hess</a>
            <div class="meta">
                <span class="date">Create in Aug 2014</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i> 2 Members
            </a>
        </div>
    </div>
</div>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Elliot Fu</div>
            <div class="meta">Friend</div>
            <div class="description">
                Elliot Fu is a film-maker from New York.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="meta">Friend</div>
            <div class="description">
                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess</div>
            <div class="meta">Friend</div>
            <div class="description">
                Jenny is a student studying Media Management at the New School
            </div>
        </div>
    </div>
</div>
<div class="ui card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span>2 days ago</span>
            <a>Animals</a>
        </div>
        <p></p>
    </div>
</div>
<div class="ui card">
    <a class="image" href="#">
        <img src="/images/avatar/large/steve.jpg">
    </a>
    <div class="content">
        <a class="header" href="#">Steve Jobes</a>
        <div class="meta">
            <a>Last Seen 2 days ago</a>
        </div>
    </div>
</div>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Elliot Fu</div>
            <div class="description">
                Elliot Fu is a film-maker from New York.
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i> Add Friend
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="description">
                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i> Add Friend
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess</div>
            <div class="description">
                Jenny is a student studying Media Management at the New School
            </div>
        </div>
        <div class="ui bottom attached button">
            <i class="add icon"></i> Add Friend
        </div>
    </div>
</div>
<div class="ui card">
    <div class="content">
        <i class="right floated like icon"></i>
        <i class="right floated star icon"></i>
        <div class="header">Cute Dog</div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
        <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
    </div>
</div>
<div class="ui card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">2 days ago</div>
        <div class="description">
            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
            <p>Many people also have their own barometers for what makes a cute dog.</p>
        </div>
    </div>
</div>
<div class="ui three column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
        </div>
    </div>
</div>
<a class="ui card" href="#">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span class="category">Animals</span>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt
        </div>
    </div>
</a>
<div class="ui link card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span class="category">Animals</span>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt
        </div>
    </div>
</div>
<div class="ui card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span class="right floated time">2 days ago</span>
            <span class="category">Animals</span>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt
        </div>
    </div>
</div>
<div class="ui card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span class="right floated time">2 days ago</span>
            <span class="category">Animals</span>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt
        </div>
    </div>
</div>
<div class="ui four cards">
    <a class="black card">
        <div class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </a>
    <a class="blue card">
        <div class="image">
            <img src="/images/avatar/large/elliot.jpg">
        </div>
    </a>
    <a class="green card">
        <div class="image">
            <img src="/images/avatar/large/helen.jpg">
        </div>
    </a>
    <a class="orange card">
        <div class="image">
            <img src="/images/avatar/large/image.png">
        </div>
    </a>
    <a class="pink card">
        <div class="image">
            <img src="/images/avatar/large/jenny.jpg">
        </div>
    </a>
    <a class="purple card">
        <div class="image">
            <img src="/images/avatar/large/steve.jpg">
        </div>
    </a>
    <a class="red card">
        <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
    </a>
    <a class="teal card">
        <div class="image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
    </a>
    <a class="yellow card">
        <div class="image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
    </a>
</div>
<div class="ui four cards">
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/helen.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/steve.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/steve.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
        <div class="extra">
            Rating:
            <div class="ui star rating selected" data-rating="3">
                <i class="icon active selected"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="ui six doubling cards">
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/elliot.jpg">
        </div>
        <div class="content">
            <a class="header">Elliot Fu</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/helen.jpg">
        </div>
        <div class="content">
            <a class="header">Helen Troy</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/jenny.jpg">
        </div>
        <div class="content">
            <a class="header">Jenny Hess</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
        <div class="content">
            <a class="header">Veronika Ossi</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="content">
            <a class="header">Stevie</a>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="/images/avatar/large/steve.jpg">
        </div>
        <div class="content">
            <a class="header">Steve Jobes</a>
        </div>
    </div>
</div>
<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
        </a>
        <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
                <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
                How artistic!
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/elliot.jpg">
        </a>
        <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
            </div>
            <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
        <div class="comments">
            <div class="comment">
                <a class="avatar">
                    <img src="/images/avatar/small/jenny.jpg">
                </a>
                <div class="content">
                    <a class="author">Jenny Hess</a>
                    <div class="metadata">
                        <span class="date">Just now</span>
                    </div>
                    <div class="text">
                        Elliot you are always so right :)
                    </div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/joe.jpg">
        </a>
        <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
                <span class="date">5 days ago</span>
            </div>
            <div class="text">
                Dude, this is awesome. Thanks so much
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/joe.jpg">
        </a>
        <div class="content">
            <a class="author">Tom Lukic</a>
            <div class="text">
                This will be great for business reports. I will definitely download this.
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
                <a class="save">Save</a>
                <a class="hide">Hide</a>
                <a>
                    <i class="expand icon"></i> Full-screen
                </a>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/elliot.jpg">
        </a>
        <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
            </div>
            <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
        <div class="comments">
            <div class="comment">
                <a class="avatar">
                    <img src="/images/avatar/small/jenny.jpg">
                </a>
                <div class="content">
                    <a class="author">Jenny Hess</a>
                    <div class="metadata">
                        <span class="date">Just now</span>
                    </div>
                    <div class="text">
                        Elliot you are always so right :)
                    </div>
                    <div class="actions">
                        <a class="reply">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <a class="avatar">
            <img src="/images/avatar/small/joe.jpg">
        </a>
        <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
                <span class="date">5 days ago</span>
            </div>
            <div class="text">
                Dude, this is awesome. Thanks so much
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
    </div>
    <form class="ui reply form">
        <div class="field">
            <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply
        </div>
    </form>
</div>
<div class="ui items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
</div>
<div class="ui divided items">
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            Content A
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            Content B
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            Content C
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">12 Years a Slave</a>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">My Neighbor Totoro</a>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">Watchmen</a>
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">Arrowhead Valley Camp</div>
            <div class="meta">
                <span class="price">$1200</span>
                <span class="stay">1 Month</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">Buck's Homebrew Stayaway</div>
            <div class="meta">
                <span class="price">$1000</span>
                <span class="stay">2 Weeks</span>
            </div>
            <div class="description">
                <p></p>homebrew.
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">Astrology Camp</div>
            <div class="meta">
                <span class="price">$1600</span>
                <span class="stay">6 Weeks</span>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="ui yellow message">
    <i class="star icon"></i> To make the entire content of a item link, check out the link variation below
</div>
<div class="ui items">
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/large/stevie.jpg">
        </a>
        <div class="content">
            <a class="header">Stevie Feliciano</a>
            <div class="description">
                <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/large/veronika.jpg">
        </a>
        <div class="content">
            <a class="header">Veronika Ossi</a>
            <div class="description">
                <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/large/jenny.jpg">
        </a>
        <div class="content">
            <a class="header">Jenny Hess</a>
            <div class="description">
                <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <a class="ui small image">
            <img src="/images/wireframe/image.png">
        </a>
        <div class="content">
            <a class="header">Cute Dog</a>
            <div class="description">
                <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                <p>Many people also have their own barometers for what makes a cute dog.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <div class="content">
            <a class="header">Cute Dog</a>
            <div class="description">
                <p></p>
                <p></p>
            </div>
            <div class="extra">
                <i class="green check icon"></i> 121 Votes
            </div>
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/large/jenny.jpg">
        </a>
        <div class="middle aligned content">
            <div class="header">
                <i class="like icon"></i> Veronika Ossi
            </div>
        </div>
    </div>
    <div class="item">
        <a class="ui tiny image">
            <img src="/images/avatar/large/justen.jpg">
        </a>
        <div class="middle aligned content">
            <div class="header">
                <i class="favorite icon"></i> Justen Kitsune
            </div>
        </div>
    </div>
</div>
<div class="ui divided items">
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">12 Years a Slave</a>
            <div class="meta">
                <span class="cinema">Union Square 14</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">My Neighbor Totoro</a>
            <div class="meta">
                <span class="cinema">IFC Cinema</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated primary button">
                    Buy tickets
                    <i class="right chevron icon"></i>
                </div>
                <div class="ui label">Limited</div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">Watchmen</a>
            <div class="meta">
                <span class="cinema">IFC</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated primary button">
                    Buy tickets
                    <i class="right chevron icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui relaxed items">
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">12 Years a Slave</a>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">My Neighbor Totoro</a>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <a class="header">Watchmen</a>
        </div>
    </div>
</div>
<div class="ui link items">
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/avatar/large/stevie.jpg">
        </div>
        <div class="content">
            <div class="header">Stevie Feliciano</div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/avatar/large/veronika.jpg">
        </div>
        <div class="content">
            <div class="header">Veronika Ossi</div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="/images/avatar/large/jenny.jpg">
        </div>
        <div class="content">
            <div class="header">Jenny Hess</div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <div class="header">
                Content A
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated button">
                    Action
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <div class="header">
                Content B
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated button">
                    Action
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/wireframe/image.png">
        </div>
        <div class="middle aligned content">
            <div class="header">
                Content C
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated button">
                    Action
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui statistic">
    <div class="label">
        Famous Dogs
    </div>
    <div class="value">
        414
    </div>
</div>
<div class="ui statistics">
    <div class="statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Breeds of Dog
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            31
        </div>
        <div class="label">
            Famous Dogs in Films
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            US Presidents Owned Dogs
        </div>
    </div>
</div>
<div class="ui statistics">
    <div class="statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Cities Named After Dogs
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Two Million
        </div>
        <div class="label">
            Homeless Dogs in USA
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="plane icon"></i> 5
        </div>
        <div class="label">
            Flights Piloted By Dogs
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <img src="/images/demo/transparent-dog.png"> 11
        </div>
        <div class="label">
            Puppies Made This Page
        </div>
    </div>
</div>
<div class="ui horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui horizontal statistics">
    <div class="statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Breeds of Dog
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            31
        </div>
        <div class="label">
            Famous Dogs in Films
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            US Presidents Owned Dogs
        </div>
    </div>
</div>
<div class="ui statistics">
    <div class="yellow statistic">
        <div class="value">
            27
        </div>
        <div class="label">
            Yellow Labradors
        </div>
    </div>
    <div class="green statistic">
        <div class="value">
            8
        </div>
        <div class="label">
            Green Poodles
        </div>
    </div>
    <div class="blue statistic">
        <div class="value">
            28
        </div>
        <div class="label">
            Blue Shiba-Inus
        </div>
    </div>
    <div class="orange statistic">
        <div class="value">
            14
        </div>
        <div class="label">
            Orange Chihuahuas
        </div>
    </div>
    <div class="purple statistic">
        <div class="value">
            82
        </div>
        <div class="label">
            Purple Labradoodles
        </div>
    </div>
    <div class="pink statistic">
        <div class="value">
            1
        </div>
        <div class="label">
            Pink Labradors
        </div>
    </div>
    <div class="red statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Red Mastifs
        </div>
    </div>
    <div class="teal statistic">
        <div class="value">
            15
        </div>
        <div class="label">
            Teal Cockerspaniels
        </div>
    </div>
</div>
<div class="ui inverted segment">
    <div class="ui inverted statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Breeds of Dog
        </div>
    </div>
    <div class="ui inverted yellow statistic">
        <div class="value">
            27
        </div>
        <div class="label">
            Yellow Labradors
        </div>
    </div>
    <div class="ui inverted green statistic">
        <div class="value">
            8
        </div>
        <div class="label">
            Green Poodles
        </div>
    </div>
    <div class="ui inverted blue statistic">
        <div class="value">
            28
        </div>
        <div class="label">
            Blue Shiba-Inus
        </div>
    </div>
    <div class="ui inverted orange statistic">
        <div class="value">
            14
        </div>
        <div class="label">
            Orange Chihuahuas
        </div>
    </div>
    <div class="ui inverted purple statistic">
        <div class="value">
            82
        </div>
        <div class="label">
            Purple Labradoodles
        </div>
    </div>
    <div class="ui inverted pink statistic">
        <div class="value">
            1
        </div>
        <div class="label">
            Pink Labradors
        </div>
    </div>
    <div class="ui inverted red statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Red Mastifs
        </div>
    </div>
    <div class="ui inverted teal statistic">
        <div class="value">
            15
        </div>
        <div class="label">
            Teal Cockerspaniels
        </div>
    </div>
</div>
<div class="ui segment">
    <div class="ui right floated statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Breeds of Dog
        </div>
    </div>
    <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
    <div class="ui left floated statistic">
        <div class="value">
            22
        </div>
        <div class="label">
            Breeds of Dog
        </div>
    </div>
    <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
</div>
<div class="ui mini statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui tiny statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui small statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui large statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui huge statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui mini horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui tiny horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui small horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui large horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
<div class="ui huge horizontal statistic">
    <div class="value">
        22
    </div>
    <div class="label">
        Breeds of Dog
    </div>
</div>
-->
    <% include footer.html %>

        <script>
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        </script>